@import url('./content.css');
.ql-container{
    font-size: var(--font_125);
    color: var(--lightblue);
}
.quill-element{
    transition: 250ms;
    --max-height: calc(100vh - 12rem);
}
.ql-editor{
    resize: none;
    min-height: 20rem;
    max-height: var(--max-height);
    line-height: 2rem;
}
.ql-toolbar{
    background-color: var(--background);
    display: flex;
    flex-wrap: wrap;
    gap: .5rem 0;
}
.ql-toolbar.ql-snow{
    font-family: unset;
    border: .1rem solid var(--lightgrey);
    border-radius: .5rem .5rem 0 0;
}
.ql-container.ql-snow{
    border: .1rem solid var(--lightgrey);
    border-radius: 0 0 .5rem .5rem;
}
.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button{
    background-color: var(--tileblue);
    border: .1rem solid var(--lightgrey);
    margin-left: 0;
    margin-right: 1rem;
    border-radius: .25rem;
    height: 2rem;
    width: auto;
}
.ql-snow .ql-stroke{
    stroke: var(--lightblue);
}
.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill{
    fill: var(--lightblue);
}
.ql-snow .ql-picker{
    color: var(--lightblue);
    font-size: var(--font_125);
    height: unset;
}
.ql-toolbar.ql-snow .ql-picker-label{
    border: .1rem solid var(--lightgrey);
    padding: .25rem .5rem;
    border-radius: .5rem;
    background-color: var(--tileblue);
    transition: border-color 250ms;
}
.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg{
    right: .5rem;
}
.ql-snow .ql-picker.ql-header{
    width: 15rem;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label{
    border-color: var(--green);
}
.ql-snow .ql-picker.ql-expanded .ql-picker-options{
    margin-top: .25rem;
}
.ql-toolbar.ql-snow .ql-picker-options{
    border: .1rem solid var(--lightgrey);
    box-shadow: unset;
}
.ql-snow .ql-picker-options{
    background-color: var(--tileblue);
    border-radius: .5rem;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options{
    border-color: var(--lightgrey);
}
.ql-snow .ql-picker-options .ql-picker-item{
    padding-top: 0;
    padding-bottom: 0;
}
.ql-snow .ql-picker.ql-header .ql-picker-item::before{
    font-size: var(--font_125) !important;
}
.ql-snow .ql-picker.ql-header .ql-picker-item{
    padding: .25rem .5rem;
}
.ql-snow .ql-picker.ql-header .ql-picker-item:hover{
    background-color: var(--background);
}
.ql-snow .ql-picker-options{
    padding: 0;
    overflow: hidden;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-label{
    color: var(--lightblue);
}
.ql-snow .ql-tooltip.ql-flip{
    transform: unset;
    left: 1rem !important;
    top: .25rem !important;
}
.ql-snow .ql-tooltip{
    background-color: var(--tileblue);
    border: .1rem solid var(--lightgrey);
    box-shadow: unset;
    color: var(--lightblue);
    padding: 1rem 2rem;
    border-radius: .5rem;
    font-size: var(--font_125);
}
.ql-snow .ql-tooltip input[type=text]{
    font-size: inherit;
    border: inherit;
    height: unset;
    padding: .25rem .5rem;
    width: 20rem;
    outline: none;
    border-radius: inherit;
    background-color: var(--background);
    color: #ffffff;
}
.ql-snow .ql-tooltip.ql-editing a.ql-action::after{
    padding-right: 16px;
}
.ql-snow .ql-tooltip.ql-editing a.ql-remove{
    display: unset;
}
.editor-fullscreen{
    --max-height: unset;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 92.5dvh;
    background-color: var(--background);
    z-index: 100;
    padding: 1rem 2.5rem;
}


.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected{
    color: var(--green);
}

.ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button:focus .ql-stroke, .ql-snow .ql-toolbar button:focus .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button:focus .ql-stroke-miter, .ql-snow .ql-toolbar button:focus .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter{
    stroke: var(--green);
}

.ql-snow.ql-toolbar button:hover .ql-fill, .ql-snow .ql-toolbar button:hover .ql-fill, .ql-snow.ql-toolbar button:focus .ql-fill, .ql-snow .ql-toolbar button:focus .ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill{
    fill: var(--green);
}

/* Screen width <= 950 */
@media screen and (width <= 950px){
    .ql-toolbar.ql-snow .ql-formats:not(:first-child){
        margin-right: 0;
    }
}

/* Screen width <= 650 */
@media screen and (width <= 650px){
    .editor-fullscreen{
        padding: 1rem 1.5rem;
    }
}

/* Screen width <= 425 */
@media screen and (width <= 425px){
    .editor-fullscreen{
        padding: 1rem 1rem;
    }
}