svg.spinner{
    width: 45px;
}
svg.spinner circle:last-child{
    animation: spin 1s linear infinite;
    transform-origin: center;
}
@keyframes stroke-spin {
    0%{
        stroke-dashoffset: 250;
    }
    50%{
        stroke-dashoffset: 50;
    }
    50.1%{
        stroke-dashoffset: 51;
    }
    100%{
        stroke-dashoffset: 249;
    }
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}