.text-primary{
    color: var(--green);
}
.text-secondary{
    color: var(--lightblue);
}
.text-white{
    color: #ffffff;
}
.text-black{
    color: #000000;
}
.text-gold{
    color: var(--gold);
}
.text-underline{
    text-decoration: underline;
}
.text-no-wrap{
    text-wrap: nowrap;
}
.white-space-no-wrap{
    white-space: nowrap;
}
.font-weight-300{
    font-weight: 300;
}
.font-weight-400{
    font-weight: 400;
}
.font-weight-600{
    font-weight: 600;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-700{
    font-weight: 700;
}
.text-error{
    color: red;
}
.text-centered{
    text-align: center;
}
.text-start{
    text-align: start;
}
.lowercase{
    text-transform: lowercase;
}
.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}
.cap-first-letter::first-letter{
    text-transform: uppercase;
}
.no-user-select{
    user-select: none;
}
.italic{
    font-style: italic;
}
.float-right{
    float: right;
}
.fs-1{
    font-size: var(--font_085);
}
.fs-2{
    font-size: var(--font_09);
}
.fs-3{
    font-size: var(--font_1);
}
.fs-4{
    font-size: var(--font_125);
}
.fs-5{
    font-size: var(--font_15);
}
.fs-5_5{
    font-size: var(--font_175);
}
.fs-6{
    font-size: var(--font_2);
}
.fs-7{
    font-size: var(--font_225);
}
.fs-8{
    font-size: var(--font_3);
}
.fs-9{
    font-size: var(--font_8);
}
.d-inline{
    display: inline;
}
.d-flex{
    display: flex;
}
.d-iflex{
    display: inline-flex;
}
.flex-col{
    flex-direction: column;
}
.flex-row-rev{
    flex-direction: row-reverse;
}
.wrap-flex{
    flex-wrap: wrap;
}
.d-grid{
    display: grid;
}
.grid-auto-fill{
    grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
}
.grid-temp-col-10rem_1fr{
    grid-template-columns: 10rem 1fr;
}
.d-iblock{
    display: inline-block;
}
.content-centered{
    align-content: center;
}
.content-bottom{
    align-content: end;
}
.center-y{
    align-items: center;
}
.align-self-end{
    align-self: flex-end;
}
.align-items-center{
    align-items: center;
}
.justify-self-end{
    justify-self: flex-end;
}
.justify-space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.place-content-center{
    place-content: center;
}
.middle{
    vertical-align: middle;
}
.middle svg{
    vertical-align: middle;
}
.gap-025{
    gap: .25rem;
}
.gap-05{
    gap: .5rem;
}
.gap-1{
    gap: 1rem;
}
.gap-2{
    gap: 2rem;
}
.gap-3{
    gap: 3rem;
}
.row-gap-15{
    row-gap: 1.5rem;
}
.row-gap-1{
    row-gap: 1rem;
}
.row-gap-05{
    row-gap: .5rem;
}
.col-gap-3{
    column-gap: 3rem;
}
.mtb-auto{
    margin-top: auto;
    margin-bottom: auto;
}
.mtb-025{
    margin-top: .25rem;
    margin-bottom: .25rem;
}
.mtb-05{
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.mtb-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mtb-15{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.mtb-3{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.mt-025{
    margin-top: .25rem;
}
.mt-05{
    margin-top: .5rem;
}
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-5{
    margin-top: 5rem;
}
.mt-8{
    margin-top: 8rem;
}
.mt-10{
    margin-top: 10rem;
}
.mt-120{
    margin-top: 12rem;
}
.mb-01{
    margin-bottom: .1rem;
}
.mb-025{
    margin-bottom: .25rem;
}
.mb-05{
    margin-bottom: .5rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.mb-25{
    margin-bottom: 2.5rem;
}
.mb-5{
    margin-bottom: 5rem;
}
.mr-025{
    margin-right: .25rem;
}
.mr-2{
    margin-right: 2rem;
}
.ml-015{
    margin-left: .15rem;
}
.ml-1{
    margin-left: 1rem;
}
.ml-2{
    margin-left: 2rem;
}
.ml-13{
    margin-left: 13rem;
}
.ml-auto{
    margin-left: auto;
}
.mlr-auto{
    margin-left: auto;
    margin-right: auto;
}
.mlr-1{
    margin-left: 1rem;
    margin-right: 1rem;
}
.mlr-auto{
    margin-left: auto;
    margin-right: auto;
}
.p-025{
    padding: .25rem;
}
.p-05{
    padding: .5rem;
}
.p-1{
    padding: 1rem;
}
.pl-1{
    padding-left: 1rem;
}
.pl-3{
    padding-left: 3rem;
}

.pl-1{
    padding-left: 1rem;
}
.pr-05{
    padding-right: .5rem;
}
.p-15{
    padding: 1.5rem;
}
.p-2{
    padding: 2rem;
}
.plr-05{
    padding-left: .5rem;
    padding-right: .5rem;
}
.plr-1{
    padding-left: 1rem;
    padding-right: 1rem;
}
.plr-15{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.plr-25{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.pb-1{
    padding-bottom: 1rem;
}
.pb-15{
    padding-bottom: 1.5rem;
}
.pt-1{
    padding-top: 1rem;
}
.pt-5{
    padding-top: 5rem;
}
.pt-9{
    padding-top: 9rem;
}
.ptb-025{
    padding-top: .25rem;
    padding-bottom: .25rem;
}
.ptb-04{
    padding-top: .4rem;
    padding-bottom: .4rem;
}
.ptb-05{
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.ptb-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.ptb-15{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.svg-stroke-width-1 svg{
    stroke-width: 1;
}
.w-max-600{
    max-width: 600px;
}
.w-max-1000{
    max-width: 1000px;
}
.w-min-5rem{
    min-width: 5rem;
}
.w-min-8rem{
    min-width: 8rem;
}
.w-min-15rem{
    min-width: 15rem;
}
.w-min-400px{
    min-width: 400px;
}
.w-min-500px{
    min-width: 500px;
}
.w-fit{
    width: fit-content;
}
.w-015rem{
    width: 1.5rem;
}
.w-2rem{
    width: 2rem;
}
.w-3rem{
    width: 3rem;
}
.w-7rem{
    width: 7rem;
}
.w-10rem{
    width: 10rem;
}
.w-13rem{
    width: 13rem;
}
.w-15rem{
    width: 15rem;
}
.w-20rem{
    width: 20rem;
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.w-500px{
    width: 500px;
}
.h-fit{
    height: fit-content;
}
.h-2rem{
    height: 2rem;
}
.h-2_5rem{
    height: 2.5rem;
}
.h-5rem{
    height: 5rem;
}
.h-7rem{
    height: 7rem;
}
.h-8rem{
    height: 8rem;
}
.h-100{
    height: 100dvh;
}
.h-100p{
    height: 100%;
}
.h-min-700px{
    min-height: 700px;
}
.h-min-600px{
    min-height: 600px;
}
.aspect-ratio-equal{
    aspect-ratio: 1/1;
}
.aspect-ratio-21{
    aspect-ratio: 2/1;
}
.lh-3{
    line-height: 3rem;
}
.ltr-spacing-2{
    letter-spacing: 2rem;
}
.ltr-spacing-2::placeholder{
    letter-spacing: normal;
}
.rounded-1{
    border-radius: 1rem;
}
.rounded-05{
    border-radius: .5rem;
}
.rounded-025{
    border-radius: .25rem;
}
.rounded-100px{
    border-radius: 100px;
}
.rounded-top-1{
    border-radius: 1rem 1rem 0 0;
}
.shadow-primary{
    box-shadow: inset 0 0 .85px 1.25px hsla(0, 0%, 100%, 0.1),
                0 0 0 1px hsla(230, 13%, 9%, 0.075),
                0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
                0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
                0 3.5px 6px hsla(230, 13%, 9%, 0.09);
}
.border-bottom-grey-01{
    border-bottom: .1rem solid var(--lightgrey);
}
.border-grey-01{
    border: .1rem solid var(--lightgrey);
}
.border-grey-005{
    border: .05rem solid var(--lightgrey);
}
.border-green-01{
    border: .1rem solid var(--green);
}
.border-green-02{
    border: .2rem solid var(--green);
}
.no-border{
    border: none;
}
.outline-green-01{
    outline: .1rem solid var(--green);
    outline-offset: -.1rem;
}
.trans-border-250{
    transition: border-color 250ms;
}
.no-outline{
    outline: none;
}
.hide-overflow{
    overflow: hidden;
}
.overflow-x-auto{
    overflow-x: auto;
}
.scroll-snap-x-always{
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
}
.scroll-snap-align-start{
    scroll-snap-align: start;
}
.overflow-x-auto::-webkit-scrollbar{
    height: 0;
}
input:not(input[type="checkbox"]):focus,textarea:focus{
    border-color: var(--green);
}
input::placeholder{
    color: var(--lightblue);
}
input[type="checkbox"]{
    aspect-ratio: 1/1;
    width: 1rem;
    margin-right: .5rem;
    accent-color: var(--green);
    cursor: pointer;
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    appearance: none;
}
.resize-vertical{
    resize: vertical;
}
a{
    color: var(--green);
    text-decoration: none;
    font-weight: 500;
}
.btn-primary{
    background-color: var(--green);
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1rem 0;
    border-radius: 100px;
    cursor: pointer;
    border: none;
}
.overlay{
    background: linear-gradient(7.41deg, #000000cc 23.95%, #01010100 54.62%);
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.static{
    position: static;
}
.webkit-vbox{
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.line-clamp-1{
    line-clamp: 1;
    -webkit-line-clamp: 1;
}
.line-height-2rem{
    line-height: 2rem;
}
.line-height-2_5rem{
    line-height: 2.5rem;
}
.line-height-25rem{
    line-height: 2.5rem;
}
.ellipsis{
    text-overflow: ellipsis;
}
.top-0{
    top: 0;
}
.bottom-0{
    bottom: 0;
}
.left-0{
    left: 0;
}
.right-0{
    right: 0;
}
.top-05{
    top: .5rem;
}
.right-05{
    right: 1rem;
}
.top-25{
    top: 2.5rem;
}
.top-8p{
    top: 8%;
}
.right-8p{
    right: 8%;
}

input:disabled,label.disabled-label{
    opacity: .5;
    user-select: none;
}
.no-bg{
    background-color: unset;
}
.bg-green{
    background-color: var(--green);
}
.bg-lgreen{
    background-color: var(--lightgreen);
}
.bg-red{
    background-color: #F32E2E;
}
.bg-tile-blue{
    background-color: var(--tileblue);
}
.bg-light-blue{
    background-color: var(--lightblue);
}
.bg-common-blue{
    background-color: var(--background);
}
.bg-overlay{
    background-color: var(--backdrop);
}
.bg-tile-blue-tr{
    background-color: var(--black-pearl);
}
.bg-filter-5{
    backdrop-filter: blur(5px);
}
.blur-10{
    backdrop-filter: blur(10px);
}
.z-index-110{
    z-index: 110;
}
.z-index-100{
    z-index: 100;
}
.z-index-90{
    z-index: 90;
}
.z-index-91{
    z-index: 91;
}
.z-index-85{
    z-index: 85;
}
.z-index-1{
    z-index: 1;
}
.pointer{
    cursor: pointer;
}
.hover-blue:hover{
    background-color: var(--background);
}
.hover-green:hover{
    background-color: var(--green);
    color: #000000;
}
.hover-red{
    transition: color 250ms;
}
.hover-red:hover{
    color: red;
}
.list-style-none{
    list-style: none;
}
.pointer-event-none{
    pointer-events: none;
}
.button-appearance-none{
    background-color: unset;
    border: unset;
    font: unset;
    color: unset;
}
.click-scale-down{
    transition: 250ms;
}
.click-scale-down:active{
    transform: scale(.9);
}
.rotate-90deg{
    transition: transform 250ms;
    transform: rotate(90deg);
}
dialog.flashmessage .status-image{
    grid-area: dialog-image;
}
dialog.flashmessage .status-image svg{
    font-size: 3rem;
}
dialog.flashmessage h3{
    grid-area: dialog-heading;
}
dialog.flashmessage p{
    grid-area: dialog-text;
}
dialog.flashmessage{
    inset-inline-start: unset;
    grid-template-columns: auto 1fr;
    grid-template-areas: "dialog-image dialog-heading"
                         "dialog-image dialog-text";
    column-gap: 1rem;
}
dialog::backdrop{
    background-color: var(--backdrop);
}
.backdrop-effect::after{
    content: "";
    position: absolute;
    left: 13rem;
    top: 0;
    height: 100dvh;
    width: 100vw;
    background-color: var(--backdrop);
    z-index: -1;
}

/*Animation*/
.zoom-onHover-101{
    transition: 500ms;
}
.zoom-onHover-101:hover{
    transform: scale(1.025);
}
.button-opa-effect{
    animation: bt-fluid 250ms linear 1 forwards;
    opacity: 0;
}
@keyframes bt-fluid {
    From{
        opacity: 0;
    }
    To{
        opacity: 1;
    }
}
.fluid-effect{
    animation: fluid-effect 100ms linear 1;
}

@keyframes fluid-effect {
    From{
        transform: scale(1);
    }
    To{
        transform: scale(1.1);
    }
}

.bottom-line{
    width: 10rem;
    height: .4rem;
    border-radius: 10px;
    background-color: var(--lightgreen);
    position: absolute;
    left: calc(50% - 5rem);
    bottom: -2rem;
    overflow: hidden;
}
.bottom-line::before{
    content: "";
    height: .4rem;
    aspect-ratio: 1/1 !important;
    border-radius: 10px;
    background-color: var(--green);
    position: absolute;
    left: -.4rem;
    top: 0;
    animation: oscilate-left-right 3s ease-in-out infinite;
}
@keyframes oscilate-left-right {
    From{
        left: -.4rem;
    }
    To{
        left: 10.4rem;
    }
}
.heading-text{
    margin-bottom: 4rem;
}
.heading-text::before{
    content: "Blog";
    text-transform: uppercase;
    font-size: var(--font_8);
    opacity: .05;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: -2.25rem;
    z-index: -1;
}